.ea-wizard-button {
  padding: 10px;
  background: #337ab7;
  color: #ffffff;
  display: flex;
  align-items: center;
  transition: all .2s linear;
  border: none;
  border-radius: 5px; }
  .ea-wizard-button:before {
    font-family: FontAwesome;
    content: "\f073";
    width: 34px;
    height: 34px;
    line-height: 34px;
    display: block;
    font-size: 18px;
    color: #ffffff; }
  .ea-wizard-button:hover {
    background: #1f4d75; }
  .ea-wizard-button:focus, .ea-wizard-button:active {
    outline: none; }

.ea-wizard-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2; }
  .ea-wizard-overlay .ea-wizard {
    min-height: 600px;
    min-width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    outline: 0;
    z-index: 3;
    display: flex;
    flex-direction: column; }
    .ea-wizard-overlay .ea-wizard-header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 15px; }
      .ea-wizard-overlay .ea-wizard-header h3 {
        margin: 0;
        font-size: 18px;
        margin: auto; }
      .ea-wizard-overlay .ea-wizard-header button.ea-wizard-close-modal {
        background: transparent;
        border: 0; }
        .ea-wizard-overlay .ea-wizard-header button.ea-wizard-close-modal:focus, .ea-wizard-overlay .ea-wizard-header button.ea-wizard-close-modal:active {
          outline: none; }
        .ea-wizard-overlay .ea-wizard-header button.ea-wizard-close-modal span {
          font-size: 23px;
          font-weight: 700;
          line-height: 18px;
          color: #000; }
          .ea-wizard-overlay .ea-wizard-header button.ea-wizard-close-modal span:hover {
            color: #337ab7; }
    .ea-wizard-overlay .ea-wizard-progress {
      border-bottom: 1px solid #dadada; }
      .ea-wizard-overlay .ea-wizard-progress-steps {
        margin: 15px 0;
        overflow: hidden;
        color: lightgrey;
        display: flex;
        padding: 0;
        justify-content: space-evenly; }
      .ea-wizard-overlay .ea-wizard-progress-step {
        list-style-type: none;
        font-size: 12px;
        flex: 1;
        position: relative;
        text-align: center; }
        .ea-wizard-overlay .ea-wizard-progress-step:before {
          font-family: FontAwesome;
          content: '';
          width: 34px;
          height: 34px;
          line-height: 32px;
          display: block;
          font-size: 18px;
          color: #ffffff;
          background: #e9ecef;
          border-radius: 50%;
          margin: 0 auto 10px auto;
          padding: 2px;
          transition: all .2s linear; }
        .ea-wizard-overlay .ea-wizard-progress-step:after {
          content: '';
          width: 100%;
          height: 2px;
          background: #e9ecef;
          position: absolute;
          left: 0;
          top: 17px;
          z-index: -1;
          transition: all .2s linear; }
        .ea-wizard-overlay .ea-wizard-progress-step.current {
          color: #1f4d75;
          font-weight: bold; }
          .ea-wizard-overlay .ea-wizard-progress-step.current:before {
            background: #1f4d75; }
          .ea-wizard-overlay .ea-wizard-progress-step.current:after {
            background: #337ab7; }
        .ea-wizard-overlay .ea-wizard-progress-step:last-child.current {
          color: #4bb543; }
          .ea-wizard-overlay .ea-wizard-progress-step:last-child.current:before {
            background: #4bb543; }
        .ea-wizard-overlay .ea-wizard-progress-step.done {
          color: #337ab7; }
          .ea-wizard-overlay .ea-wizard-progress-step.done:before, .ea-wizard-overlay .ea-wizard-progress-step.done:after {
            background: #337ab7; }
      .ea-wizard-overlay .ea-wizard-progress #location:before {
        content: "\f041"; }
      .ea-wizard-overlay .ea-wizard-progress #worker:before {
        content: "\f007"; }
      .ea-wizard-overlay .ea-wizard-progress #service:before {
        content: "\f013"; }
      .ea-wizard-overlay .ea-wizard-progress #calendar:before {
        content: "\f073"; }
      .ea-wizard-overlay .ea-wizard-progress #slots:before {
        content: "\f00b"; }
      .ea-wizard-overlay .ea-wizard-progress #personal:before {
        content: "\f129"; }
      .ea-wizard-overlay .ea-wizard-progress #overview:before {
        content: "\f06e"; }
      .ea-wizard-overlay .ea-wizard-progress #thanks:before {
        content: "\f00c"; }
    .ea-wizard-overlay .ea-wizard-content {
      flex: 1;
      position: relative; }
      .ea-wizard-overlay .ea-wizard-content .ea-wizard-step {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 15px; }
    .ea-wizard-overlay .ea-wizard-actions {
      border-top: 1px solid #dadada;
      padding: 15px;
      display: flex;
      justify-content: flex-end; }
      .ea-wizard-overlay .ea-wizard-actions button:nth-child(1) {
        margin-right: auto; }
    .ea-wizard-overlay .ea-wizard-step {
      display: none;
      overflow: hidden;
      overflow-y: scroll; }
      .ea-wizard-overlay .ea-wizard-step.current {
        display: block; }
    .ea-wizard-overlay .ea-wizard .ea-step-location .content, .ea-wizard-overlay .ea-wizard .ea-step-service .content, .ea-wizard-overlay .ea-wizard .ea-step-worker .content, .ea-wizard-overlay .ea-wizard .ea-step-timeslots .content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
      grid-gap: 20px; }
      .ea-wizard-overlay .ea-wizard .ea-step-location .content .choice, .ea-wizard-overlay .ea-wizard .ea-step-service .content .choice, .ea-wizard-overlay .ea-wizard .ea-step-worker .content .choice, .ea-wizard-overlay .ea-wizard .ea-step-timeslots .content .choice {
        padding: 10px 26px;
        border: 1px solid #e9ecef;
        cursor: pointer;
        transition: all .2s linear; }
        .ea-wizard-overlay .ea-wizard .ea-step-location .content .choice:hover, .ea-wizard-overlay .ea-wizard .ea-step-service .content .choice:hover, .ea-wizard-overlay .ea-wizard .ea-step-worker .content .choice:hover, .ea-wizard-overlay .ea-wizard .ea-step-timeslots .content .choice:hover {
          border: 1px solid #337ab7;
          background-color: #f6fbff; }
        .ea-wizard-overlay .ea-wizard .ea-step-location .content .choice span, .ea-wizard-overlay .ea-wizard .ea-step-service .content .choice span, .ea-wizard-overlay .ea-wizard .ea-step-worker .content .choice span, .ea-wizard-overlay .ea-wizard .ea-step-timeslots .content .choice span {
          display: block;
          text-align: center;
          font-size: 14px;
          line-height: 18px;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal; }
        .ea-wizard-overlay .ea-wizard .ea-step-location .content .choice div.header, .ea-wizard-overlay .ea-wizard .ea-step-service .content .choice div.header, .ea-wizard-overlay .ea-wizard .ea-step-worker .content .choice div.header, .ea-wizard-overlay .ea-wizard .ea-step-timeslots .content .choice div.header {
          margin-bottom: 10px;
          padding-bottom: 5px;
          border-bottom: 1px solid #e9ecef;
          color: #1f4d75;
          font-weight: 600;
          min-height: 42px;
          display: flex; }
          .ea-wizard-overlay .ea-wizard .ea-step-location .content .choice div.header span, .ea-wizard-overlay .ea-wizard .ea-step-service .content .choice div.header span, .ea-wizard-overlay .ea-wizard .ea-step-worker .content .choice div.header span, .ea-wizard-overlay .ea-wizard .ea-step-timeslots .content .choice div.header span {
            margin: auto;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal; }
        .ea-wizard-overlay .ea-wizard .ea-step-location .content .choice.chosen, .ea-wizard-overlay .ea-wizard .ea-step-service .content .choice.chosen, .ea-wizard-overlay .ea-wizard .ea-step-worker .content .choice.chosen, .ea-wizard-overlay .ea-wizard .ea-step-timeslots .content .choice.chosen {
          position: relative;
          border: 1px solid #b5c9da;
          background: #d9ecf7; }
          .ea-wizard-overlay .ea-wizard .ea-step-location .content .choice.chosen div.header, .ea-wizard-overlay .ea-wizard .ea-step-service .content .choice.chosen div.header, .ea-wizard-overlay .ea-wizard .ea-step-worker .content .choice.chosen div.header, .ea-wizard-overlay .ea-wizard .ea-step-timeslots .content .choice.chosen div.header {
            border-bottom: 1px solid #b5c9da; }
          .ea-wizard-overlay .ea-wizard .ea-step-location .content .choice.chosen:before, .ea-wizard-overlay .ea-wizard .ea-step-service .content .choice.chosen:before, .ea-wizard-overlay .ea-wizard .ea-step-worker .content .choice.chosen:before, .ea-wizard-overlay .ea-wizard .ea-step-timeslots .content .choice.chosen:before {
            font-family: FontAwesome;
            content: '\f00c';
            width: 20px;
            height: 20px;
            line-height: 20px;
            display: block;
            font-size: 12px;
            color: #ffffff;
            background: #4bb543;
            border-radius: 50%;
            text-align: center;
            position: absolute;
            top: 3px;
            right: 3px; }
    .ea-wizard-overlay .ea-wizard .ea-step-calendar .ea-wizard-calendar .ui-datepicker {
      border: none;
      box-shadow: none; }
      .ea-wizard-overlay .ea-wizard .ea-step-calendar .ea-wizard-calendar .ui-datepicker .ui-datepicker-header {
        margin-bottom: 20px; }
    .ea-wizard-overlay .ea-wizard .ea-step-timeslots .content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      grid-gap: 20px; }
      .ea-wizard-overlay .ea-wizard .ea-step-timeslots .content .choice {
        min-width: 100%;
        max-width: 100%;
        text-decoration: unset; }
        .ea-wizard-overlay .ea-wizard .ea-step-timeslots .content .choice:hover, .ea-wizard-overlay .ea-wizard .ea-step-timeslots .content .choice:visited {
          text-decoration: unset; }
    .ea-wizard-overlay .ea-wizard .ea-step-personal-info .form-group {
      display: flex;
      align-items: center;
      width: 600px;
      margin: 0 auto;
      margin-bottom: 10px; }
      .ea-wizard-overlay .ea-wizard .ea-step-personal-info .form-group label {
        font-weight: normal;
        width: 25%; }
      .ea-wizard-overlay .ea-wizard .ea-step-personal-info .form-group div.col-sm-8 {
        flex: 1; }
    .ea-wizard-overlay .ea-wizard .ea-step-thanks .content {
      display: flex;
      height: 100%; }
      .ea-wizard-overlay .ea-wizard .ea-step-thanks .content .success {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .ea-wizard-overlay .ea-wizard .ea-step-thanks .content .success-icon {
          margin-bottom: 20px;
          width: 50px;
          height: 50px;
          line-height: 50px;
          display: block;
          font-size: 38px;
          color: #4bb543;
          border-radius: 50%;
          border: 1px solid #4bb543;
          text-align: center; }
