.ea-sidebar {
  .MuiPaper-root {
    position: inherit;
  }

  &--content {
    margin-top: 32px;
    min-width: 540px;
    width: 540px;
    height: 100%;
  }
}

@media screen and (max-width: 782px) {
  .ea-sidebar {
    z-index: 99999 !important;

    &--content {
      margin-top: 0;
      min-width: 100px;
      width: 100vw;
    }
  }
}
