.ea-sidebar {
  .MuiPaper-root {
    position: inherit;

    &.MuiDrawer-paper {
      margin-top: 32px;
      min-width: 540px;
      width: 540px;

      /*@include media-breakpoint-down(xs) {
        margin-top: 46px;
        min-width: 100px;
        width: 100%;
      }*/
    }
  }
}

@media screen and (max-width: 782px) {
  .ea-sidebar {
    z-index: 99999 !important;

    .MuiPaper-root {
      &.MuiDrawer-paper {
        margin-top: 0;
        min-width: 100px;
        width: 100%;
      }
    }
  }
}
