.ea-sidebar {
  .MuiPaper-root {
    position: inherit;
  }

  &--wrapper {
    margin-top: 32px;
    min-width: 540px;
    width: 540px;
    height: 100%;
    padding: 24px;
    padding-bottom: 0px;
  }

  &--content {
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &--header {
    display: flex;
    align-items: center;
    padding-bottom: 16px;

    &-close {
      .MuiIconButton-root {
        padding: 0;
      }
    }
  }

  &--body {
    padding-top: 16px;
    display: flex;
  }

  .ea-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;

    .loader-wrap {
      margin: auto;
    }
  }
}

@media screen and (max-width: 782px) {
  .ea-sidebar {
    z-index: 99999 !important;

    &--wrapper {
      margin-top: 0;
      min-width: 100px;
      width: 100vw;
    }
  }
}
