// EA CUSTOM STYLES

@import "ea-components/PageHeader/base";
@import "ea-components/Sidebar/base";
@import "ea-components/Form/base";
@import "ea-components/FormFields/base";
@import "ea-components/Loader/base";
@import "ea-components/ContentBox/base";

// PAGES

@import "pages/Vacation/base";
@import "pages/Locations/base";
@import "pages/Services/base";
@import "pages/Workers/base";

// CUSTOM CLASSES

.ea-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 300px;
}

.ea-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;

  .loader-wrap {
    margin: auto;
  }
}

.ea-transparent-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
