// EA CUSTOM STYLES

@import "ea-components/PageHeader/base";
@import "ea-components/Sidebar/base";
@import "ea-components/Form/base";
@import "ea-components/FormFields/base";
@import "ea-components/Loader/base";
@import "ea-components/ContentBox/base";

// PAGES

@import "pages/Vacation/base";

// CUSTOM CLASSES

.ea-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 300px;
}
